:root { /*delcarar variáveis na raiz*/
    --primary-color: brown;
    --secondary-color: rgb(124, 5, 5);
    --border-radius-base: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 2rem;
}

h2 {
    margin-top: 3rem;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 600px;

    button {
        background-color: var(--primary-color);
        padding: 1rem;
        border-radius: var(--border-radius-base);
        border: none;
        color: #FFFFFF;
    }
    
    button:hover {
        background-color: var(--secondary-color); 
        transition: 1s;
    }

    button:focus {
        outline: 2px solid var(--secondary-color); 
    }
}

input {
    padding: 1rem;
    margin-top: 2rem;

}

input:focus {
    outline: 2px solid var(--secondary-color);
}

.texts {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 600px;

    p:first-child {
        font-weight: bold;
        color: var(--primary-color);
    }

    p:last-child {
        font-weight: bold;
        color: var(--secondary-color);
    }
}

.images {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 600px;

    img {
        height: 100px;
    }

    /* img:nth-child(3) {
        border-radius: 50%;
    } */

        img:nth-child(odd) { 
        border-radius: var(--border-radius-base);
    }

    img:nth-child(even) { 
        filter: grayscale(100%);
        border-radius: var(--border-radius-base);
    }
}